.bundle
.scss-cache/*
.scss-cache
.sass-cache/
.idea/*
.idea/
._*
config/database.yml
config/newrelic.yml
config/database.yml.mysql
config/initializers/exception_notifier.rb
db/*.sqlite3
log/
log/*.log
public/
tmp/
tmp/**/* 
nbproject/
ERD.pdf
config/deploy.rb
nbproject/**/**
public/system/**/*
public/pictures/**/*
public/storage_check
sqlnet.log
nbproject
coverage/
.DS_Store
.redcar/
public/pictures
Gemfile.lock
db/schema.rb
.rvmrc
.ruby*
.tags
.ruby*
public/*/cache/*
*.old
.pow*
.tags_sorted_by_file
